<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hi</title>
</head>
<body>
<h1>Ввод количества вопросов</h1>
    <form method="post">
          <input type="text" id="questions_number" name="questions_number"><br>
          <input type="submit" class="btn bnt-success" value="Отправить"><br>
    </form>


</body>
</html>